*{
    margin: 0;
    padding: 0;
}
.accordion-button{
    color: #fff !important;
    background: #00a2c3;
    background-color: #00a2c3 !important;
}
.accordion-button::after {
    display: none;
}
.bg-blue,.btn-blue, .accordion-header, .list-group-item.active{
    background-color: #00a2c3;
}
.btn-blue{
    color: #fff;
}
.list-group-item{
    border-radius: 0% !important;
}
.text-blue{
    color: #00a2c3;
}