*{
    margin: 0;
    padding: 0;
}
.accordion-button{
    color: #fff !important;
    background: #0dcaf0;
    background-color: #0dcaf0 !important;
}
.accordion-button::after {
    display: none;
}
.accordion-header, .list-group-item.active{
    background-color: #0dcaf0;
}
.list-group-item{
    border-radius: 0% !important;
}